:root{
    --main-font-color: #757575;
    --main-title-color:#212121;
    --main-blue-color: #2196F3;
    --main-white-color:#FFFFFF;  
    --main-background-color:#2F303A;
    --white-color-clear:rgba(255, 255, 255, 0.6);
    --background-department:#F5F4FA;
}
body{
color:var(--main-font-color);
font-family: 'Roboto', sans-serif;
background-color: var(--main-white-color);
}
.logo{
    color: var(--main-title-color);
    text-decoration:none;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    
}
.blue-text{ 
    color:var(--main-blue-color);
}
.remove-dots{
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.nav-link{
    color: var(--main-title-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;  
}
.nav-link:hover,.nav-link:focus{
    color: var(--main-blue-color);
}
.main-title{
    color: var(--main-white-color);
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 1.36;
    letter-spacing: 0.06em;
}
.title-button{
    color: var(--main-white-color);
    background-color: var(--main-blue-color);
    font-weight: 700;
    font-size: 16px;
    cursor:pointer;
    font-family: inherit;
}
 .info-data {
    color:var(--main-font-color);
     text-decoration:none;
     font-weight: 500;
     font-size: 14px;   
}
 .info-data:hover,.info-data:focus {
     color: var(--main-blue-color);
}
.small-title{
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
}
.s-title-description{
    color: var(--main-font-color);
    font-weight: 400;
    font-size: 14px;
}
.big-title{
    color: var(--main-title-color);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.list{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.team-list h3{
font-weight: 500;
font-size: 16px;
color: var(--main-title-color);
text-align: center;
line-height: 1.14;
}
.team-list p{
    font-size: 16px;
    text-align: center;
    line-height: 1.71;
}
.background-color-team{
    background-color: var(--background-department);
}
.background{
    background-color: var(--main-background-color);
}
.names-color{
    background-color: var(--background-department);
}
.footer-logo{
    color: var(--main-white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    text-decoration: none;
}
.footer-text{
    display:block;
    text-decoration:none;
    color: var(--white-color-clear);  
}
.footer-text:hover,.footer-text:focus{
color: var(--main-blue-color);
}
.footer-address{
    color: var(--main-white-color);
    text-decoration: none;
    font-style: normal;
}
.departments{
font-weight: 500;
 font-size: 16px;
 color: var(--main-title-color);
 background-color: var(--background-department);
 padding:6px 22px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
 font-family: inherit;
}
.departments:hover,.departments:focus{
color: var(--main-white-color);
background-color: var(--main-blue-color);
}
.studio-currant {
    color: var(--main-blue-color);
}